/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.discussion-img {
    width: 100%; /* always span card width */
    height: 250px; /* fixed height for uniformity */
    object-fit: cover; /* crop image to fill box without distortion */
    border-top-left-radius: .25rem; /* keep bootstrap card rounded corners */
    border-top-right-radius: .25rem;
}
